h1{
    text-align: center;
    padding-top: 70px;
}

h1, ion-item{
    font-family: 'vectora';
}

ion-list{
padding-top: 20px;
}

#btnlogin{
    margin-top: 5px;
}
#btnRegister{
    margin-top: 20px;
}
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:120px;
}